<%# add navigation links to this file %>
<li><%= link_to '|', root_path %></li>
<li><%= link_to 'Bootstrap', root_path %></li>
<li><%= link_to 'and', root_path %></li>
<li><%= link_to 'Rails', root_path %></li>
<li><%= link_to 'made', root_path %></li>
<li><%= link_to 'easy...', root_path %></li>